# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
env/
.venv/
.env/

# Flask / app specific
instance/
.webassets-cache

# Downloaded files (output scraper)
downloaded_pdfs/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/
.idea/
*.swp
*.swo

# Env files (jika ada)
.env
*.env
